{:deps
 {org.clojure/clojurescript {:mvn/version "1.10.516"}
  probcomp/metaprob {:git/url "https://github.com/probcomp/metaprob"
                     :sha #_"ad72523cd17925df0693dd764b9ecc7698684a4e" ; master
                     "179790b7aaa0b74172a7b73c39a2a2eb67da7bb8"} ; autodiff
  reagent {:mvn/version "0.8.1"}
  re-frame {:mvn/version "0.10.6"}
  com.bhauman/figwheel-main {:mvn/version "0.2.0"}
  com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
  cljfmt {:mvn/version "0.6.3"}
  zprint {:mvn/version "0.4.15"}
  cljsjs/codemirror {:mvn/version "5.44.0-1"}
  cheshire {:mvn/version "5.8.1"}
  com.cognitect/transit-cljs {:mvn/version "0.8.256"}
  crate {:mvn/version "0.2.4"}
  cljsjs/vega-lite {:mvn/version "3.0.2-0"}
  cljsjs/vega {:mvn/version "4.4.0-0"}
  binaryage/devtools {:mvn/version "0.9.10"}}
 :paths ["src" "target" "resources"]
 :aliases {:build-dev {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
